<a href="https://colab.research.google.com/github/Swati1-ud/Data_Analysis/blob/main/Loops_and_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a_number = 34

if a_number % 2 == 0:
  print("swati")

swati

In [ ]:
another_number = 33

if another_number % 2 == 0:
  print('The give number {} is even.' .format(another_number))
else : 
  print('The give number {} is odd.' .format(another_number))

The give number 33 is odd.

In [ ]:
if { 'a': 34 }:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [ ]:
if {}:
  print("djhsjd")
else:
  print("xyz")

xyz

In [ ]:
parity = "even" if a_number % 2 == 0 else "odd"

In [ ]:
print("the number is {} is {}." . format(a_number,parity))

the number is 34 is even.

In [ ]:
result = 1
i = 1

while i <=100:
  result = result * i
  i = i+1

print("the factorial of 100 is {}" . format(result))

the factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
%%time

line = "*"
max_length = 10

while len(line) <= max_length :
  print(line)
  line += "*"
#print("1")
while len(line) > 0 :
  print(line)
  line = line[:-1]
  #print(len(line))

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*
CPU times: user 6.04 ms, sys: 0 ns, total: 6.04 ms
Wall time: 8.46 ms

In [ ]:
n = 5

for i in range(n):
  for j in range(n):
    print("*" , end = " ")
  print('')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(n):
  for j in range(i+1):
    print("*", end = "")
  print()

*
**
***
****
*****

In [ ]:
for i in range(n):
  for j in range(i,n):
    print("*", end = '')
  print()

*****
****
***
**
*